<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">

    <img class="logo-nav" id="mylogo-nav-first" src="{{asset "images/logo_footer.png"}}" alt="Logo">
    {{#if @blog.navigation}}
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    {{/if}}

</nav>

