<nav class="one-page-header navbar navbar-default navbar-fixed top-nav-collapse" role="navigation">

    <div class="menu-container">
        <img class="logo-nav" src="{{asset "images/logo_lungvang.png"}}" alt="Logo">
    </div>
    {{#if @blog.navigation}}
        <a class="menu-button icon-menu menu-button-header-white" href="#"><span class="word">Menu</span></a>
    {{/if}}

</nav>
